<mat-toolbar color="primary">Device Platform</mat-toolbar>

<br>
<br>
<div>
    <mat-sidenav-container>
        <mat-sidenav>Start</mat-sidenav>
        <mat-sidenav-content style="width: 300px">
            <mat-nav-list>
                <a mat-list-item routerLink="/registered">View Registered Devices</a>
                <a mat-list-item routerLink="/register">Register a Device</a>
            </mat-nav-list>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<div>
<router-outlet></router-outlet>
</div>
<!--
<mat-drawer-container class="example-container">
        <mat-nav-list>
                <a mat-list-item>View Registered Devices</a>
                <a mat-list-item>Register a Device</a>
             </mat-nav-list>
    <mat-drawer mode="side" opened>View Registered Devices</mat-drawer>
    <mat-drawer-content>Registered Devices</mat-drawer-content>
  </mat-drawer-container>-->